body {
    font-family: "Trebuchet MS", sans-serif;
    background-blend-mode: color-burn;
    background-image:linear-gradient(92deg, blanchedalmond, burlywood);
}

ul {
    background-color: antiquewhite;
    color: black;
    text-transform: capitalize;
    text-align: center;
    padding:20px;
    list-style-type: none;
}

ul li {
    background: rgb(240, 226, 180);
    margin: 5px;
}

h2{
    background-color: crimson;
    align-content: right;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid black;
    border-radius: 25%;
    font-size: 1em;
    font-style: oblique;
    text-shadow: 1px 5px 3px black;
    
    color: ivory;
}

img{
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%
}


#indexHeader {
    background-color: crimson;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-radius: 15%;
    font-size: 5em;
    font-style: oblique;
    text-shadow: 1px 5px 3px black;
    
    color: ivory;
    

}

.recipeHeader {

    background-color: crimson;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-radius: 5%;
    font-size: 3em;
    font-style: oblique;
    text-shadow: 1px 5px 3px black;
    
    color: ivory;
}


.recipeIndex{
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-style: oblique;
    color: green;
}

a:link {

    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-style: oblique;
    text-shadow: 1px 2px 3px black;
    color: ivory
}

a:visited {

    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-style: oblique;
    text-shadow: 1px 2px 3px black;

    color: darkolivegreen

}